version: "3"

services:
  # this is for local development and assumes
  # the rest of sphinx-stack is running on the same
  # host machine
  meme: 
    build: 
      context: .
      dockerfile: ./Dockerfile.dev
    restart: on-failure
    container_name: meme.sphinx
    volumes:
      - ./memes:/app/files
      - ./:/app
    environment:
      - PORT=5555
      - JWT_KEY=19e0bb49bhyuibme
      - STORAGE_MODE=local
      - LOCAL_DIR=app/files
      - LOCAL_ENCRYPTION_KEY=88303a55f5829d9e35936364204bcb007fe330db649902fa1085a7bce3732347
      - HOST=localhost:5555
      - DATABASE_URL=postgres://postgres:sphinx@db.sphinx:5432/postgres?sslmode=disable
      - MAX_FREE_UPLOAD_SIZE_MB=1
      - RESTRICT_UPLOAD_SIZE=${RESTRICT_UPLOAD_SIZE}
  
networks:
  default:
    name: sphinx-stack
    external: true